@media (max-width: 400px) {
    .servicos, .container-servicos, .container-projetos, .projetos{
        flex-direction: column;
        width: 100%;
    }    

    .quadrado{
        width: 100%;
        margin-left: 0;
    }

    .menu{
        margin: 0;
        margin-top: 32px;
    }
}